#
# Program Name: QB_Update.ps1
#
# Description: Powershell script to automate Quickbooks updates
#
# Author: Quynn Bell
#
# Original Author: adamef93  - https://github.com/adamef93/Automated-QB-Updates
#
# Date Modified: 16th of July 2024
#

# FIXME: - When we run quickbooks after the install, sometimes quickbooks can trigger the window that states we neeed to update and updates quickbooks. we need a way to detect this and "pause".
#        - Add UI animation methods for clicking through QB patch installer windows.


function Check-Elevation {
    Write-Host "Checking for elevation..."
    $CurrentUser = New-Object Security.Principal.WindowsPrincipal $([Security.Principal.WindowsIdentity]::GetCurrent())
    if (($CurrentUser.IsInRole([Security.Principal.WindowsBuiltinRole]::Administrator)) -eq $false) {
        $ArgumentList = "-noprofile -noexit -file `"{0}`" -Path `"$Path`" -MaxStage $MaxStage"
        If ($ValidateOnly) { $ArgumentList = $ArgumentList + " -ValidateOnly" }
        If ($SkipValidation) { $ArgumentList = $ArgumentList + " -SkipValidation $SkipValidation" }
        If ($Mode) { $ArgumentList = $ArgumentList + " -Mode $Mode" }
        Write-Host "elevating"
        Start-Process powershell.exe -Verb RunAs -ArgumentList ($ArgumentList -f ($myinvocation.MyCommand.Definition)) -Wait
        Exit
    }
    Write-Host "In admin mode..."
}

function Ensure-FolderExists {
    param (
        [string]$folderPath
    )
    if (-not (Test-Path -Path $folderPath)) {
        Write-Host "Creating folder: $folderPath"
        New-Item -ItemType Directory -Path $folderPath
    }
}

function Download-And-Install-Patch {
    param (
        [string[]]$downloads,
        [string]$destination
    )
    foreach ($url in $downloads) {
        $args = "/silent", "/a"
        Start-BitsTransfer -Source $url -Destination $destination
        Unblock-File $destination
        Start-Process $destination -Wait -ArgumentList $args
        Remove-Item -Path $destination -Force
    }
}

function Apply-QuickBooksPatches {
    param (
        [string[]]$quickbooks
    )
    foreach ($quickbooksPath in $quickbooks) {
        Start-Process $quickbooksPath -Verb runas
        Start-Sleep -Seconds 20
        Get-Process qbw | ForEach-Object {
            $_.CloseMainWindow() | Out-Null
            Stop-Process -Id $_.Id -Force
        }
    }
}

function Is-QuickBooksInstalled {
    param (
        [string]$quickbooksPath
    )
    return Test-Path -Path $quickbooksPath
}

# Main script
Check-Elevation

$folderPath = "C:\IT\QB updates"
Ensure-FolderExists -folderPath $folderPath

# Disables UAC. The patches require UAC to run and this is included in preparation for automating the install with AutoIT
# Currently commenting out as it causes conflict with SIEM - Que 
#Set-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System" -Name "ConsentPromptBehaviorAdmin" -Value "0"

$destination = "C:\IT\QB Updates\qbwebpatch.exe"
$downloads = @(
    # QuickBooks Desktop Enterprise Solutions 24.0
    "https://http-download.intuit.com/http.intuit/Downloads/2024/rnkpzeq9nUS_R6/Webpatch/en_qbwebpatch.exe",
    # QuickBooks Desktop Enterprise Solutions 20.0
    "https://http-download.intuit.com/http.intuit/Downloads/2020/cveofqqkrsUS_R17/Webpatch/en_qbwebpatch.exe"
)

$quickbooks = @(
    # QuickBooks Desktop Enterprise Solutions 24.0
    "C:\Program Files\Intuit\QuickBooks Enterprise Solutions 24.0\QBWEnterprise*.exe",
    # QuickBooks Desktop Enterprise Solutions 23.0
    "C:\Program Files\Intuit\QuickBooks Enterprise Solutions 23.0\QBWEnterprise*.exe",
)

foreach ($quickbooksWildcard in $quickbooks) {
    $resolvedPaths = Get-ChildItem -Path $quickbooksWildcard
    Write-Host "Resolved path: $resolvedPaths"
    if ($resolvedPaths) {
        foreach ($quickbooksPath in $resolvedPaths) {
            if (Is-QuickBooksInstalled -quickbooksPath $quickbooksPath) {
                $url = $downloads[$quickbooks.IndexOf($quickbooksWildcard)]
                Write-Host "Resolved URL: $url"
                Download-And-Install-Patch -downloads $url -destination $destination
                Apply-QuickBooksPatches -quickbooks $quickbooksPath
            } else {
                Write-Host "Skipping download and patch for $quickbooksPath as it is not installed."
            }
        }
    } else {
        Write-Host "No QuickBooks installations found for wildcard path: $quickbooksWildcard"
    }
}

# Re-enables UAC
# Currently commenting out as it causes conflict with SIEM - Que 
#Set-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System" -Name "ConsentPromptBehaviorAdmin" -Value "5"


QBW32EnterpriseAccountant.exe /?



    "C:\Program Files (x86)\Intuit\QuickBooks Enterprise Solutions 20.0\QBW32EnterpriseAccountant.exe"


PS C:\Program Files (x86)\Intuit\QuickBooks Enterprise Solutions 20.0> Q









